==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/semantic-october.png'|theme }}" />
        <link href="{{ [
            'assets/css/vendor/semantic.min.css',
            'assets/css/main.css'
        ]|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>
        {% page %}
        
        <!-- SCRIPTS -->
        <script src="{{ [
            'assets/js/vendor/jquery.min.js',
            'assets/js/vendor/semantic.min.js',
            'assets/js/app.js'
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>